<div class="nav d-flex flex-column bg-light">
    <a class="logo d-block" href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
    </a>
    <ul class="list-unstyled">
        <li>
            <a  class="nav-link d-flex align-item-center text-dark " href="#">
                <span class="material-icons me-3">assessment</span>
                <span class="fw-bold">Dashboard</span>
            </a>
        </li>
        <li>
            <a  class="nav-link d-flex align-item-center text-dark " href="#">
                <span class="material-icons me-3">question_answer</span>
                <span class="fw-bold">Question</span>
            </a>
        </li>
        <li>
            <a  class="nav-link d-flex align-item-center text-dark " href="#">
                <span class="material-icons me-3">assignment</span>
                <span class="fw-bold">Assignment</span>
            </a>
        </li>
        <li>
            <a  class="nav-link d-flex align-item-center text-dark " href="#">
                <span class="material-icons me-3">video_library</span>
                <span class="fw-bold">Course</span>
            </a>
        </li>
        <li>
            <a  class="nav-link d-flex align-item-center text-dark " href="#">
                <span class="material-icons me-3">supervisor_account</span>
                <span class="fw-bold">Admin</span>
            </a>
        </li>
        <li>
            <a  class="nav-link d-flex align-item-center text-dark" href="#">
                <span class="material-icons me-3">settings</span>
                <span class="fw-bold">Settings</span>
            </a>
        </li>
    </ul>
    <div>
        <div class="avatar"></div>
        <div>
            <p>Andy Chen</p>
            <a href="mailto:andy0401@mail.com">andy0401@mail.com</a>
        </div>
    </div>
</div>