.nav {
  min-width: 296px;
  min-height: 100vh;
  padding: 32px 32px;
}

.logo {
  width: 151px;
  height: 40px;
  margin-bottom: 20px;
}

.nav-link {
  padding: 12px 0;
  position: relative;
}

.nav-link:hover {
  color: #198754 !important;
}

.admin::before {
  content: "";
  width: 32px;
  height: 4px;
  background: #198754;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -20%;
}

.avatar {
  width: 40px;
  height: 40px;
  background: url(https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80) center/cover;
  border-radius: 50%;
}

.ft-md-dark {
  color: #6C757D;
}

.fz-14 {
  font-size: 14px;
}

.name {
  margin-bottom: 0;
}

.info {
  a {
    &:hover {
      color: #198754;
    }
  }
}