.admin-title {
  line-height: 1.375;
}

.hover-success {
  &:hover {
    color: $success !important;
  }
}

table {
  min-width: 984px;
  margin-bottom: 64px !important;
  thead {
    tr {
      border-bottom: 1px solid #212529 !important;
    }
  }
  tbody {
    tr:hover {
      td, th {
        background: #F8F9FA !important;
      }
    }
  }
  td,th {
    padding: 18px 0 !important;
  }
}

.text-align-right {
  text-align: right;
}

.admin-list {
  padding: 32px;
}

nav {
  li{
    &:first-child, &:last-child{
      a {
        color: $success;
        padding: 6px 4px 0 4px;
      }
    }
  }
}

.page-link {
  border: 1px solid $success;
  &:hover {
    border: 1px solid $success;
    background: $success;
    color: $white !important;
  }
}